@import '~react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
    background: #1e1621;
}

 */
body {
    background: #1e1621 !important;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-bullet {
    list-style-image: url('assets/sub_bullet.png');
    /* Adjust the path to the location of your bullet image */
}

.react-datepicker {
    background-color: #a864f4;
}

.side-bar-title {
    background-color: #a864f4;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.sidebar-content {
    padding-top: 0;
}

.sidebar-container {
    border-radius: 2%;
}